version: "3.8"

services:
  db:
    image: postgres:16.9
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./dump/db/db_dump.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
